.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;

  .task {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e8e8e8;
    overflow: hidden;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      font-family:'Courier New', Courier, monospace;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-shadow: 0 0 1px #1c555f;
      user-select: none;

      span {
        margin: 0 2px;
        font-size: 36px;
        color: #1c555f;
        transform: rotate(20deg);
      }
    }
  }

  .work {
    display: flex;
  }

  .toggle {
    position: absolute;
    background-color: #f1f2f3;
    border: 1px solid #e8e8e8;
    border-left: none;
    border-radius: 0 3px 3px 0;

    .toggleInner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 14px;
      height: 50px;
      cursor: pointer;
      transition-delay: 0.5s;
    }

    &:hover {
      background-color: #ddd;
    }
  }
}