.container {
  display: flex;
  height: 100%;
  overflow: hidden;

  .task {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e8e8e8;
    overflow: hidden;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      font-family:'Courier New', Courier, monospace;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-shadow: 0 0 1px #1c555f;
      user-select: none;

      span {
        margin: 0 5px;
        font-size: 32px;
        color: #1c555f;
        transform: rotate(35deg);
      }
    }

    .toggle {
      display: flex;
      align-items: center;
      position: absolute;
      overflow: hidden;
      cursor: pointer;
      user-select: none;
      border: 1px solid #e8e8e8;
      border-left: none;
      border-radius: 0 3px 3px 0;
      padding: 8px 0;

      &:hover {
        background-color: #e1e2e3;
      }
    }
  }

  .work {
    display: flex;
  }
}